/* Should generate to main.scss.css */
$pageWidth: 1024px;
/* Text Syling */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

/* ClearFix */
.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Page */

header, footer, nav, #page {
  width: $pageWidth;
  margin: 0 auto;
}

header nav ul {
  display: block;
  width: 450px;
  margin: 0 auto;
  li {
    float: left;
    list-style: none;
    display: block;
    margin: 0 10px 0 10px;
  }
}

/* Article */

article {
  margin: 10px;
  padding: 10px;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

footer {
  text-align: center;
}